<!doctype html>
<html lang=en>
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <title>Patrick Naish - {{page.title}}</title>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <style type="text/css">
      body {
        padding-top: 60px;
      }
      .secondary-nav {
        display: inline;
      }
      body:after
      {
        content: url(/assets/images/email.png) url(/assets/images/rss.png) url(/assets/images/facebook.png) url(/assets/images/twitter.png) url(/assets/images/linkedin.png) url(/assets/images/github.png) url(/assets/images/google.png) url(/assets/images/pinterest.png) url(/assets/images/steam.png); 
        display: none;
      }
    </style>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" rel="stylesheet" >

    <link href="http://pmnaish.co.uk/feed/index.xml" rel="alternate" type="application/rss+xml" title="Patrick Naish's Blog" />

  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-header">
          <a class="navbar-brand" href="/">Patrick Naish</a>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-3">
          <h3 style="float:left;">Blog Posts</h3>
          <hr style="clear:both" />
          <ul>
            {% for post in site.posts %}
              <li><span>{{ post.date | date: "%d/%m/%y" }}</span> - <a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-xs-9">
          <h2 style="float:left;">{{page.title}}</h2>
          <h4 style="float:left;position:relative;top:15px;margin-left:10px;color:grey;">{% if page.date %}{{ page.date | date: "%d/%m/%y" }}{% endif %}</h4>
          <hr style="clear:both" />
          {{content}}
        </div>
      </div>
    </div>
    <footer style="margin-bottom:30px;">
      <div class="container">
        <hr />
        <div class="col-xs-12 text-center">
          <ul style="margin:0 0 10px 0px; -webkit-padding-start: 0px;">
            <li style="display:inline;"><a target="_blank" href="mailto:patrick@pmnaish.co.uk"><img src="/assets/images/emailbw.png" onmouseover="this.src='/assets/images/email.png'" onmouseout="this.src='/assets/images/emailbw.png'"></a></li>
            <li style="display:inline;"><a target="_blank" href="http://pmnaish.co.uk/feed/index.xml"><img src="/assets/images/rssbw.png" onmouseover="this.src='/assets/images/rss.png'" onmouseout="this.src='/assets/images/rssbw.png'"></a></li>
            <li style="display:inline;"><a target="_blank" href="http://www.facebook.com/patricknaish"><img src="/assets/images/facebookbw.png" onmouseover="this.src='/assets/images/facebook.png'" onmouseout="this.src='/assets/images/facebookbw.png'"></a></li>
            <li style="display:inline;"><a target="_blank" href="http://www.twitter.com/pmnaish"><img src="/assets/images/twitterbw.png" onmouseover="this.src='/assets/images/twitter.png'" onmouseout="this.src='/assets/images/twitterbw.png'"></a></li>
            <li style="display:inline;"><a target="_blank" href="http://www.linkedin.com/pub/patrick-naish/26/242/684"><img src="/assets/images/linkedinbw.png" onmouseover="this.src='/assets/images/linkedin.png'" onmouseout="this.src='/assets/images/linkedinbw.png'"></a></li>
            <li style="display:inline;"><a target="_blank" href="https://github.com/patricknaish"><img src="/assets/images/githubbw.png" onmouseover="this.src='/assets/images/github.png'" onmouseout="this.src='/assets/images/githubbw.png'"></a></li>
            <li style="display:inline;"><a target="_blank" href="https://plus.google.com/104598420715905273204"><img src="/assets/images/googlebw.png" onmouseover="this.src='/assets/images/google.png'" onmouseout="this.src='/assets/images/googlebw.png'"></a></li>
            <li style="display:inline;"><a target="_blank" href="http://pinterest.com/patricknaish"><img src="/assets/images/pinterestbw.png" onmouseover="this.src='/assets/images/pinterest.png'" onmouseout="this.src='/assets/images/pinterestbw.png'"></a></li>
            <li style="display:inline;"><a target="_blank" href="http://steamcommunity.com/id/patricknaish"><img src="/assets/images/steambw.png" onmouseover="this.src='/assets/images/steam.png'" onmouseout="this.src='/assets/images/steambw.png'"></a></li>
          </ul>
          <small>&copy; Patrick Naish 2011-2013</small><br />
          <small>Uses <a href="https://www.gosquared.com/resources/gosocial">GoSocial</a> icons</small>
        </div>
      </div>
    </footer>
  </body>
</html>
