<!doctype html>
<html lang=en>
  <head>
    <title>Patrick Naish - {{page.title}}</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>

    <style type="text/css">
      body {
        padding-top: 60px;
      }
      .secondary-nav {
        display: inline;
      }
    </style>

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">

  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Patrick Naish</a>
          <ul class="nav secondary-nav pull-right">
            <li><a style="padding:4px 4px 0px 0px;" target="_blank" href="mailto:patrick@pmnaish.co.uk"><img src="/assets/images/email.png"></a></li>
            <li><a style="padding:4px 4px 0px 0px;" target="_blank" href="http://www.facebook.com/patricknaish"><img src="/assets/images/facebook.png"></a></li>
            <li><a style="padding:4px 4px 0px 0px;" target="_blank" href="http://www.twitter.com/patricknaish"><img src="/assets/images/twitter.png"></a></li>
            <li><a style="padding:4px 4px 0px 0px;" target="_blank" href="http://www.linkedin.com/pub/patrick-naish/26/242/684"><img src="/assets/images/linkedin.png"></a></li>
            <li><a style="padding:4px 4px 0px 0px;" target="_blank" href="https://github.com/patricknaish"><img src="/assets/images/github.png"></a></li>
            <li><a style="padding:4px 4px 0px 0px;" target="_blank" href="https://plus.google.com/104598420715905273204"><img src="/assets/images/google.png"></a></li>
            <li><a style="padding:4px 4px 0px 0px;" target="_blank" href="http://pinterest.com/patricknaish"><img src="/assets/images/pinterest.png"></a></li>
            <li><a style="padding:4px 4px 0px 0px;" target="_blank" href="http://steamcommunity.com/id/patricknaish"><img src="/assets/images/steam.png"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <h3 style="float:left;">Blog Posts</h3>
          <hr style="clear:both" />
          <ul>
            {% for post in site.posts %}
              <li><span>{{ post.date | date: "%d/%m/%y" }}</span> - <a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="span9">
          <h2 style="float:left;">{{page.title}}</h2>
          <h4 style="float:left;position:relative;top:15px;margin-left:10px;color:grey;">{% if page.date %}{{ page.date | date: "%d/%m/%y" }}{% endif %}</h4>
          <hr style="clear:both" />
          {{content}}
        </div>
      </div>
    </div>
    <footer style="margin-bottom:30px;">
      <div class="container">
        <hr />
        <div class="span12 text-center">
          <small>&copy; Patrick Naish 2011-2013</small><br />
          <small>Uses <a href="https://www.gosquared.com/resources/gosocial">GoSocial</a> icons</small>
        </div>
      </div>
    </footer>
  </body>
</html>
